@{
    ViewData["Title"] = "Welcome";
}
<h2 id="welcome-title">Welcome</h2>
<p id="welcome-text">This is the area where the welcome message or information will be displayed. This is a work in progress!</p>