@model KSS.Areas.Admin.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
}

<h2 style="text-align:center">Edit Enrollment</h2>
<hr />
<div class="row">
    <div style="margin:auto; max-width: 750px">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentId" />
            <div class="col-md-6 form-group">
                <label asp-for="InstanceId" class="control-label">Class</label>
                <select asp-for="InstanceId" class="form-control" asp-items="ViewBag.InstanceId"></select>
                <span asp-validation-for="InstanceId" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="UserId" class="control-label">User</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Confirmed" class="control-label">Confirmed</label>
                <input asp-for="Confirmed" class="form-control" type="datetime-local" />
                <span asp-validation-for="Confirmed" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="BookBought" /> Book Bought
                    </label>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Paid" /> Paid
                    </label>
                </div>
            </div>
            <br style="clear: both;">
            <div class="col-md-6 form-group">
                <input type="submit" value="Save Changes" class="btn btn-default" />
                <div style="display: inline">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
