/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*Title of welcome page*/
#welcome-title{
    text-align: center;
}

/*Main text of welcome page*/
#welcome-text{
    text-align: center;
}

/*Properties of the input login boxes*/
#login-box{
    height: 40px;
    font-size: 18px;
    text-align: center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 1400px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.class {
    width: 350px;
    height: 90px;
    background-color: #efefef;
    margin: 5px;
    border-top: solid 3px #a83939;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: top;
}
.class h5 {
    color: black;
    font-weight: 600;
}
.class-left {
    font-weight: 500;
    padding: 5px;
    display: inline-block;
    width: 80px;
    height: 90px;
    background-color: rgba(168, 57, 57, 0.1);
    text-align: center;
    vertical-align: top;
}
.class-left span{
    font-size: 25px;
    font-weight:600;
}
.class-right {
    line-height:1.9;
    width:260px;
    display: inline-block;
    padding:5px;
    vertical-align: top;
}
.class-right:first-line{
    font-weight:800;
}
.class-right span.links {
    float: right;
}

/* classes to grade */

.togrades a {
    text-decoration: none;
    color: black;
}
.tograde {
    width: 350px;
    height: 65px;
    background-color: #efefef;
    margin: 5px;
    border-top: solid 3px #a83939;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: top;
}
.tograde h5 {
    color: black;
    font-weight: 600;
}
.tograde-left {
    font-weight: 500;
    padding: 5px;
    display: inline-block;
    width: 80px;
    height: 65px;
    background-color: rgba(168, 57, 57, 0.1);
    text-align: center;
    vertical-align: top;
}
.tograde-left span {
    font-size: 25px;
    font-weight: 600;
}
.tograde-right {
    line-height: 1.9;
    width: 260px;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}
.tograde-right:first-line {
    font-weight: 800;
}

/* global nav bar styling*/
.navbar {
    min-height: 80px;
    background-color: #a83939;
}
.navbar-fixed-top .nav {
    padding: 15px 0;
}
.navbar-toggle {
    margin-top: 25px;
    margin-bottom: 20px;
}
#nav-logo {
    padding: 10px;
}
.nav-menu {
    text-transform: uppercase;
}
nav .navbar-nav li a {
    font-weight:600;
    color: white !important;
}
nav .navbar-nav li a:hover {
    color: lightgrey !important;
}

/* global table styling*/
td {
    border:solid 2px lightgrey;
    background-color: #f9f9f9;
}
tr:hover td {
    background-color: rgba(168, 57, 57, 0.2);
}
th {
    border: solid 2px lightgrey;
    background-color: #cccccc;
}
.dropdown, .dropdown-toggle, .dropdown-menu, .dropdown-menu a:hover {
    background-color: #a83939 !important;
    box-shadow:none !important;
    border:none !important;
}

/* grade switch */
.switchContainer {
    display: inline-block;
    width: 120px;
    height: 53px;
}

.switchContainer input {
    display: none;
}

.switch {
    position: absolute;
    cursor: pointer;
    width: 120px;
    height: 53px;
    background-color: #ff7070;
}

input:checked + .switch {
    background-color: lightgreen;
}

.switchContainer span {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding:5px;
}

/* Help block */
.main-col {
    float:left;
    width:70%;
}
aside.help {
    float:right;
    width: 30%;
}
.tooltipContainer2 {
    margin: 0 10px;
    border: solid 2px lightgrey;
    text-align: center;
}
.tooltips-top {
    padding:1px;
    background-color: #a83939;
    color:white;
    font-weight:700;
}
.tooltips-bottom{
    padding:10px;
}
.tooltips-bottom .pageDesc {
    background: rgba(168, 57, 57, 0.2);
    font-weight: 600;
}
.tooltips-bottom .add {
    background-color: lightgreen;
    color: white
}
.tooltips-bottom .roster {
    background-color: lightsalmon;
    color: white
}
.tooltips-bottom .edit {
    background-color: lightslategrey;
    color: white
}
.tooltips-bottom .delete {
    background-color: lightcoral;
    color: white
}
.tooltips-bottom h4 {
    text-decoration-line:underline;
}

@media(max-width: 768px) {
    aside.help {
        float: none;
        width: 100%;
    }
    .main-col {
        float: none;
        width: 100%;
    }
}
/* Help Block End */

    /*END OF TOOLTIP SECTION*/

/* Index Tiles */
.index-tiles {
}

.index-tile {
    background-color: white;
    margin: 5px;
    min-width: 385px;
    max-width: 700px;
    height: 70px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
}

.index-tile a {
    text-decoration: none;
    color: white;
}

.index-tile-left {
    word-break: break-all;
    word-wrap: break-word;
    display: inline-block;
    width: 25px;
    text-align: center;
    background-color: rgba(168, 57, 57, 0.7);
    color: white;
    padding: 5px;
}

.index-tile-middle {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.index-tile-right {
    display: inline-block;
    float: right;
    height: 100%;
    text-align: center;
    word-break: break-all;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

.index-tile-right .div-button-add {
    display: inline-block;
    background-color: lightgreen;
    padding: 5px;
    height: 100%;
    width: 33px;
    vertical-align: top;
}

.index-tile-right .div-button-roster {
    display: inline-block;
    background-color: lightsalmon;
    padding: 5px;
    height: 100%;
    width: 33px;
    vertical-align: top;
}

.index-tile-right .div-button-edit {
    display: inline-block;
    background-color: lightslategrey;
    padding: 5px;
    height: 100%;
    width: 33px;
    vertical-align: top;
}

.index-tile-right .div-button-delete {
    display: inline-block;
    background-color: lightcoral;
    padding: 5px;
    height: 100%;
    width: 33px;
    vertical-align: top;
    cursor: pointer;
}

.index-tile-right .div-button-add:hover,
.index-tile-right .div-button-roster:hover,
.index-tile-right .div-button-edit:hover,
.index-tile-right .div-button-delete:hover {
    border: solid 2px rgba(0, 0, 0, 0.1);
}

.index-tile-right .div-button-add:active,
.index-tile-right .div-button-roster:active,
.index-tile-right .div-button-edit:active,
.index-tile-right .div-button-delete:active {
    border: solid 2px rgba(0, 0, 0, 0.3);
}

/* Index Tiles End */