/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*Title of welcome page*/
#welcome-title{
    text-align: center;
}

/*Main text of welcome page*/
#welcome-text{
    text-align: center;
}

/*Properties of the input login boxes*/
#login-box{
    height: 40px;
    font-size: 18px;
    text-align: center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 1400px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.classes {
}
.class {
    width: 200px;
    height: 175px;
    background-color: #efefef;
    padding: 5px;
    margin: 5px;
    border-top: solid 3px #bc3e3e;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: top;
}

.class p {
    color: #474747;
}

.class h5 {
    color: black;
    font-weight: 600;
}

.navbar {
    min-height: 80px;
    background-color: #bc3e3e;
}
.navbar-fixed-top .nav {
    padding: 15px 0;
}
.navbar-toggle {
    margin-top: 25px;
    margin-bottom: 20px;
}
#nav-logo {
    padding: 10px;
}
.nav-menu {
    text-transform: uppercase;
}
nav .navbar-nav li a {
    font-weight:600;
    color: white !important;
}
nav .navbar-nav li a:hover {
    color: lightgrey !important;
}
