footer {
    background-color: rgb(212, 211, 211);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 100px 100px;
    margin-top: 80px;
    bottom: 0;
}

.footer-navigation h3 {
    margin: 0;
    font: normal 36px;
    margin-bottom: 20px;
}

    .footer-navigation h3 a {
        text-decoration: none;
    }

    .footer-navigation h3 span {
        color: #5c5c5c;
    }

.footer-navigation p.company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
}


span.new-line-span {
    display: block;
    font-weight: normal;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-about h4 {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-about p {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
