footer {
    display: inline-block;
    background-color: #a83939;
    width: 100%;
    text-align: center;
    color: white;
}

footer div {
    display: inline-block;
}

#footer-contact {
    float: left;
    margin: 10px;
    text-align: left;
}

#footer-contact h3 {
    text-transform: uppercase;
    font-weight: 600;
}

#footer-contact a {
    text-decoration: none;
    color: white;
}

#footer-contact a:hover {
    color: lightgrey;
}

#social-icons {
    float: right;
    margin: 10px;
    vertical-align: top;
}

#social-icons img {
    margin: 10px;
}

@media (max-width: 700px) {
    #footer-contact, #social-icons {
        float: none;
        display: block;
        text-align: center;
    }
}
