#groupBanner {
    background-image: url("../images/groupPage.jpg");
    background-size: cover;
    width: 100%;
    height: 275px;
}

.groupInfo {
    float: left;
    display: inline-block;
    width: 50%;
    padding-left: 40px;
}

.groupInfo div {
    margin-top: -225px;
    display: inline-block;
    width: 100%;
    padding: 30px 30px 20px 30px;
    color: white;
    background-color: #a83939;
    border-radius: 5px;
    box-shadow: 8px 8px 20px -4px grey, -8px 8px 20px -4px grey;
}

.groupInfo h2 {
    margin-top: 0px;
}

.groupLogo {
    display: inline-block;
    width: 50%;
    text-align: left;
    padding: 100px 100px 0px 100px;
}

@media only screen and (max-width: 824px) {
    .groupInfo {
        float: none;
        margin-top: -25px;
        display: inline-block;
        width: 95%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .groupLogo {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 30px 0px;
    }
}
