body {

}

#main-container{
    text-align: center;
}

#tworow {
    text-align: center;
    align-content: center;
}

#info {
    position: relative;
    overflow: hidden;
    margin-top: -225px;
    margin-right: 10px;
    margin-right: 10px;
    text-align: left;
    height: auto;
    color: white;
    width: 45%;
    background-color: #a83939;
    border-radius: 5px;
    margin-bottom: -115px;
    box-shadow: 8px 8px 20px -4px grey, -8px 8px 20px -4px grey;
    min-width: 325px;
}

#main-image{
    max-width: 250px;
    margin-top: -20px;
    margin-bottom: 40px;
}

#info h1{
    text-align: left;
    margin-top: -40px;
}

@media only screen and (max-width: 887px) {
    #info {
        margin-top: -550px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #tworow {
        text-align: center;
    }
    #main-image {
        display: none;
    }
}