body {

}

#topImage{
    height: 700px;
    width: 100%;
}

#logo{
    height: 500px;
    width: 700px;
}

#banner-container{
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

#banner-title{
    font-size: 55px;
    font-style: italic;
}

#banner-text{
    font-size: 40px;
}

#middleDiv{
    text-align:center;
}

.course {
    text-align: center;
    color: white;
    background-color: #a83939;
    border-radius: 15px;
    display: inline-grid;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 400px;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
