#main-container {
    box-shadow: 12px 0 20px -4px grey, -12px 0 20px -4px grey;
    height: 100%;
    max-width: 1100px;
    text-align: center;
    background-color: white;
    display: inline-block;
}
#homeBanner {
    margin: auto;
    background-image: url("../images/homeBanner.jpg");
    background-size: cover;
    width: 100%;
}

#nested-logo{
    width: 100%;
    max-width: 450px;
    display: inline-block;
    margin: 20px;
}

#banner-container {
    width: 100%;
    padding: 0px 5px;
    background-color: rgba(128, 128, 128, 0.8);
    text-align: center;
    color: white;
    min-width: 200px;
    border-radius: 2px;
    box-shadow: 8px 0px 15px -4px grey, -8px 0 15px -4px grey;
}

@media only screen and (max-width: 824px) {
    #banner-text {
        margin: 10px;
    }
    #nested-logo {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        margin: 20px;
    }
}

#banner-title{
    font-size: 30px;
    font-style: italic;
    margin-bottom: -20px;
}

#banner-text{
    font-size: 20px;
}

#middleDiv{
    text-align:center;
    display: table;
}

.course {
    text-align: center;
    color: white;
    background-color: #a83939;
    border-radius: 7px;
    display: inline-grid;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 275px;
    height: 400px;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    box-shadow: 8px 0 15px -4px grey, -8px 0 15px -4px grey;
}
.course p {
    margin-top: -10px;
}

.course-image {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 175px;
    border-radius: 15px;
}

body{
    background-color: lightgray;
}

@media only screen and (max-width: 636px) {
    .course {
        max-width: 275px;
        height: 550px;
    }

    .course p{
        margin-top: -20px;
        font-size: 21px;
    }

    .course h2{
        font-size: 30px;
    }

    .course-image{
        width: 90%;
        height: 200px;
    }

    #banner-container {
        width: 100%;
        margin-left: 0px;
    }
}