#main-container{
    width: 85%; 
    height: 100%;
    max-width: 1000px;
    text-align: center;
    background-color: white;
    display: inline-block;
}

#topImage{
    height: 300px;
    width: 100%;
}

#logo{
    width: 100%;
    max-width: 400px;
    min-width: 350px;
}

#banner-container {
    width: 100%;
    background-color: gray;
    text-align: center;
    color: white;
}

#banner-title{
    font-size: 30px;
    font-style: italic;
    margin-bottom: -20px;
}

#banner-text{
    font-size: 24px;
}

#middleDiv{
    text-align:center;
    display: table;
}

.course {
    text-align: center;
    color: white;
    background-color: #a83939;
    border-radius: 15px;
    display: inline-grid;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 200px;
    height: 400px;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.course-image {
    margin: auto;
    margin-top: 20px;
    width: 175px;
    height: 150px;
    border-radius: 15px;
}
