label{
    font-weight: 100;
}

#modalBack {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 50px;
    text-align: center;
    z-index: 3;
}
#payLater {
    color: #265670;
    cursor: pointer;
}

#modal-left {
    display: inline-block;
    background-image: url('../images/EMTImageB.jpeg');
    height: 420px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    vertical-align: top;
    position: relative;
    top: 30px;
}

#login {
    display: inline-block;
    padding-top: 20px;
    background-color: #a83939;
    border-radius: 10px 10px 10px 10px;
    vertical-align: top;
    position: relative;
    top: 30px;
}

#toReg{
    color: salmon;

}

#full-warning {
    display: inline-block;
    padding-top: 20px;
    background-color: #a83939;
    border-radius: 10px 10px 10px 10px;
    vertical-align: top;
    position: relative;
    top: 60px;
    padding-bottom: 40px;
    padding-right: 150px;
    padding-left: 150px;
}

#toReg:hover{
    color: lightblue;
}

#modal-right {
    display: inline-block;
    padding: 20px;
    height: 420px;
    width: 425px;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
    vertical-align: top;
    position: relative;
    top: 30px;
}

#header{
    color: white;
    font-weight: 100;
}

#divider{
    width: 85%;
    margin-left: 30px;
}

#redirect{
    color: white;
}

#closeButton{
    color: lightgrey;
    font-weight: 600;
    float: right;
    cursor: pointer;
}
#payMessage {
    color: #265670;
    margin-bottom: 0;
}

@media (max-width: 824px) {
    #modalBack {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
        padding: 50px;
    }

    #modal-left {
        display: none;
    }

    #modal-right {
        display: inline-block;
        padding: 20px;
        width: 250px;
        height: 475px;
        background-color: #ffffff;
        border-radius: 10px 10px 10px 10px;
        vertical-align: top;
        position: relative;
        top: 30px;
    }
}
