.main-container {
    padding-top: 48px;
    box-shadow: 12px 0 20px -4px grey, -12px 0 20px -4px grey;
    height: auto;
    min-height: 800px;
    width: 80%;
    max-width: 1100px;
    text-align: center;
    background-color: white;
    display: inline-block;
}

@media (max-width: 950px) {
    .main-container {
        width: 100%;
    }
}

.kssnotify {
    color: rgb(201, 76, 76);
    background-color: rgba(201, 76, 76, 0.2);
    border: solid 1px rgb(201, 76, 76);
    padding: 10px;
}
