.main-container {
    padding-top: 48px;
    box-shadow: 12px 0 20px -4px grey, -12px 0 20px -4px grey;
    height: auto;
    width: 80%;
    max-width: 1100px;
    text-align: center;
    background-color: white;
    display: inline-block;
}

@media (max-width: 950px) {
    .main-container {
        width: 100%;
    }
}
