header {
    background-color: #a83939;
}

.container {
    width: 85%;
    max-height: 46px;
    max-width: 1100px;
    text-align: center;
    margin: auto;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 46px;
    background-color: #a83939;
    text-transform: uppercase;
    font-weight: 600;
}

#sign-in-button {
    margin-top: 3px;
    margin-left: 10px;
    float: right;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    background-color: #a83939;
    color: white;
}

    #sign-in-button:hover {
        background-color: indianred;
    }

.nav li{
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid darkgrey;
}

.left-button-divider {
    border-left: 1px solid darkgrey;
}

.nav li a:hover{
     background-color: #111;
}
.nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover, .dropdown:hover .dropbtn {
    background-color: indianred;
}

.nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a83939;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    margin-left: -40px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    text-align: left;
}

.dropdown-content a:hover {
    color: lightgrey !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    min-height: 80px;
    background-color: #a83939;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-toggle {
    margin-top: 25px;
    margin-bottom: 20px;
}

#nav-logo {
    padding: 10px;
}

.nav-menu {
    text-transform: uppercase;
}

nav .navbar-nav li a {
    font-weight: 600;
    color: white !important;
}

    nav .navbar-nav li a:hover {
        color: lightgrey !important;
    }

#register-button{
    float: right;
}

#basic-nav{
 
}

.first-item{
    width: 116px;
}

.menu-item{
    max-width:125px;
}