body {
}
/*START 2cols*/
* {
    box-sizing: border-box;
}

#courseHeader * {
    float:left;
    margin: 10px;
}

#descr{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.redButton {
    font-size: 14px;
    font-weight: 600;
    background-color: #a83939;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.twocolumn {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
}
.tworow:after {
    content: "";
    display: table;
    clear: both;
    padding: 100px;
}
/*END 2cols*/
/*START table*/
.ui.table {
    text-align: left;
    padding: 50px;
    min-width: 75%;
    margin: 5% 0;
    transition: 0.5s;
}
.ui.table th {
    font-size: 12px;
    color: black;
    min-width: 200px;
    padding: 15px;
}
.ui.table td {
    padding: 10px;
    border-bottom: solid 1px lightgrey;
}
/*.ui.table tr:nth-child(even) {
    background-color: #eee;
}
.ui.table tr:nth-child(odd) {
    background-color: #fff;
}*/
.ui.table tr {
    font-size: 12px;
    border-collapse: collapse;
}

/*END tables*/