@model IEnumerable<KSS.Areas.Admin.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Categories</h2>

<p>
    <a asp-action="Create">New Category</a>
</p>

<h4>All Categories</h4>

<div class="main-col">
    @foreach (var item in Model)
    {
        <div class="index-tile">
            <div class="index-tile-left" style="height:100%;vertical-align:middle">
                <br />
                <span class="glyphicon glyphicon-bookmark" style="font-size:17px"></span>
            </div>
            <div class="index-tile-middle">
                <span style="font-weight:600">@Html.DisplayFor(modelItem => item.Name)</span>
                <br />
            </div>
            <div class="index-tile-right">
                <a asp-action="Edit" asp-route-id="@item.CategoryId">
                    <div class="div-button-edit"><br /><span class="glyphicon glyphicon-pencil"></span><br /></div>
                </a>
                <div onclick="deleteItem(@item.CategoryId)" class="div-button-delete"><br /><span class="glyphicon glyphicon-trash"></span><br /></div>
            </div>
        </div>
    }
</div>

<!-- HELP BOX  -->
<aside class="help">
    <div class="tooltipContainer2">
        <div class="tooltips-top">
            <h4>Help</h4>
        </div>
        <div class="tooltips-bottom">
            <p class="pageDesc">
                Page lets admin manage categories for courses.
            </p>
            <h4>New Category</h4>
            <p>
                Add new category.
            </p>
            <h4 class="edit">EDT</h4>
            <p>
                Make changes to existing category.
            </p>
            <h4 class="delete">DEL</h4>
            <p>
                Delete existing category.
            </p>
        </div>
    </div>
</aside>