@model KSS.Areas.Admin.Models.Instance

@{
    ViewData["Title"] = "Create";
}

<h2 style="text-align:center">Add a New Class</h2>
<hr />
<div class="row">
    <div style="margin:auto; max-width: 400px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input asp-for="StartDate" class="form-control" type="datetime-local" />
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </div>
                    <input asp-for="Price" class="form-control currency" type="number" min="0.00" step="0.01" max="2000" value="0.00" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Course</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-education"></span>
                    </div>
                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label">Location</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </div>
                    <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label">Number of Seats</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                    </div>
                    <input asp-for="Seats" class="form-control" />
                </div>
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorId" class="control-label">Instructor</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.InstructorId"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="BookAvailable" /> Book Available
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BookPrice" class="control-label">Book Price</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </div>
                    <input asp-for="BookPrice" class="form-control currency" type="number" min="0.00" step="0.01" max="2000" value="0.00" />
                </div>
                <span asp-validation-for="BookPrice" class="text-danger"></span>
            </div>
            <div style="text-align: center" class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
                <div style="display: inline">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
