html {
    overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgrey;
  text-align: center;
}
.content-container {
    width: 80%;
    max-width: 1100px;
}