
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Hello @(User.FindFirst("FirstName").Value)!</a></li>
        <li><a asp-area="Admin" asp-controller="Account" asp-action="Logout">Logout</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Admin" asp-controller="Users" asp-action="Create">Register</a></li>
        <li><a asp-area="Admin" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}